<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"><title></title></head>

<body id="body">

<header th:replace="fragments/header :: header">header</header>


<main id="main">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/admin/customers}">Customers</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${customerUpdateForm.name}">Customer</li>
        </ol>
    </nav>

    <div th:replace="fragments/alert :: alert">alert</div>

    <div th:if="${errorMessage}" class="d-flex justify-content-center alert-position">
        <div class="text-center alert alert-danger" role="alert" th:text="${errorMessage}">
        </div>
    </div>

    <h2 class="text-center my-5"><span th:text="${customerUpdateForm.name}"></span></h2>

    <div class="container">
        <form th:action="@{/admin/customers/{customerId}(customerId=${customerUpdateForm.id})}" th:object="${customerUpdateForm}" th:method="PUT">
            <div class="row">
                <div class="col-1"><label for="enabled">Enabled: </label></div>
                <div class="col-11"><input type="checkbox" th:field="*{enabled}" id="enabled"/></div>
                <input type="hidden" name="name" th:value="${customerUpdateForm.name}">
            </div>
            <div class="row">
                <div class="col-1">Roles:</div>
                <div class="col-11">
                    <div th:each="role, stat : *{roles}">
                        <input type="checkbox" th:field="*{roles[__${stat.index}__].enabled}" th:id="${stat.index}" title="role"/>
                        <label th:text="${role.roleName}" th:for="${stat.index}">roleName</label>
                        <input type="hidden" th:field="*{roles[__${stat.index}__].id}">
                        <input type="hidden" th:field="*{roles[__${stat.index}__].roleName}">
                    </div>
                </div>
            </div>
            <button type="submit" class="button">Update</button>
        </form>

        <form th:action="@{/admin/customers/{customerId}(customerId=${customerUpdateForm.id})}" th:method="DELETE">
            <button type="submit" class="button my-3">Delete</button>
        </form>
    </div>

</main>


<footer th:replace="fragments/footer :: footer">footer</footer>

<div th:replace="fragments/script :: script">script</div>

</body>
</html>