<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head"/>

<body id="body">

<header th:replace="fragments/header :: header"/>


<main id="main">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/todo-lists}">Todo-Lists</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${todoListForm.title}">Todo-List</li>
        </ol>
    </nav>

    <header th:replace="fragments/alert :: alert"/>

    <div th:if="${errorMessage}" class="d-flex justify-content-center alert-position">
        <div class="text-center alert alert-danger" role="alert" th:text="${errorMessage}">
        </div>
    </div>

    <h2 class="text-center my-5"><span th:text="${todoListForm.title}"></span> todo list:</h2>

    <div class="container">
        <form th:action="@{/todo-lists/{todoListNum}(todoListNum=${todoListNum})}" th:object="${todoListForm}" th:method="PUT">
            <div class="form-group">
                <label th:for="${#ids.next('title')}">Title</label>
                <input class="form-control" th:type="text" th:field="*{title}"/>
                <small class="form-text text-muted" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
            </div>
            <button type="submit" class="btn button">Update</button>
        </form>
    </div>

    <div class="container">
        <form th:action="@{/todo-lists/{todoListNum}(todoListNum=${todoListNum})}" th:method="DELETE">
            <button type="submit" class="btn button">Delete</button>
        </form>
    </div>

    <div class="container">
        <a th:href="@{/todo-lists/{todoListNum}/todos(todoListNum=${todoListNum})}" class="button">Show todos</a>
    </div>

</main>


<footer th:replace="fragments/footer :: footer"/>

<div th:replace="fragments/script :: script"/>

</body>
</html>