<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head"><title></title></head>

<body id="body">

<header th:replace="fragments/header :: header">header</header>


<main id="main">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Todo-Lists</li>
        </ol>
    </nav>

    <div th:replace="fragments/alert :: alert">alert</div>

    <div th:if="${errorMessage}" class="d-flex justify-content-center alert-position">
        <div class="text-center alert alert-danger" role="alert" th:text="${errorMessage}">
        </div>
    </div>

    <h2 class="text-center my-5"><span sec:authentication="name"></span>'s todo-lists:</h2>

    <div class="container">
        <table class="table table-hover table-bordered">

            <thead class="thead-dark">
            <tr>
                <th class="text-right">#</th>
                <th>Name</th>
                <th class="text-center">Finished</th>
                <th class="th-btn">C</th>
                <th class="th-btn">R</th>
                <th class="th-btn">U</th>
                <th class="th-btn">D</th>
                <th class="th-btn">Todos</th>
            </tr>
            </thead>

            <tbody>

            <tr th:object="${todoListForm}">
                <td class="align-middle"></td>
                <td class="align-middle">
                    <input form="create-form" class="input-table" th:type="text" th:field="*{title}" title="title">
                    <small class="form-text text-muted" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">errors</small>
                </td>
                <td class="align-middle"></td>
                <td class="align-middle">
                    <form id="create-form" th:action="@{/todo-lists}" method="POST">
                        <button type="submit" class="align-middle button">Create</button>
                    </form>
                </td>
                <td class="align-middle"></td>
                <td class="align-middle"></td>
                <td class="align-middle"></td>
                <td class="align-middle"></td>
            </tr>

            <tr th:each="todoListDto, stat : ${todoListDtoCollection}" th:object="${todoListForm}">
                <td class="align-middle text-right" th:text="${todoListDto.num}"></td>
                <td class="align-middle">
                    <input th:form="${stat.index}" class="input-table" type="text" name="title" th:value="${todoListDto.title}" title="title">
                </td>
                <td class="align-middle">
                    <input th:form="${stat.index}" class="input-table" th:type="checkbox" th:name="finished" th:checked="${todoListDto.finished}" title="finished" onclick="return false;">
                </td>
                <td class="align-middle"></td>
                <td class="align-middle">
                    <a th:href="@{/todo-lists/{todoListNum}(todoListNum=${todoListDto.num})}" class="button">Read</a>
                </td>
                <td class="align-middle">
                    <form th:id="${stat.index}" th:action="@{/todo-lists/{todoListNum}(todoListNum=${todoListDto.num})}" th:method="PUT">
                        <button type="submit" class="button">Update</button>
                    </form>
                </td>
                <td class="align-middle">
                    <form th:action="@{/todo-lists/{todoListNum}(todoListNum=${todoListDto.num})}" th:method="DELETE">
                        <button type="submit" class="button">Delete</button>
                    </form>
                </td>
                <td class="align-middle">
                    <a th:href="@{/todo-lists/{todoListNum}/todos(todoListNum=${todoListDto.num})}" class="button">Todos</a>
                </td>
            </tr>

            </tbody>

        </table>
    </div>

</main>


<footer th:replace="fragments/footer :: footer">footer</footer>

<div th:replace="fragments/script :: script">script</div>

</body>
</html>