<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"><title></title></head>

<body id="body">

<header th:replace="fragments/header :: header">header</header>


<main id="main">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/todo-lists}">Todo-Lists</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${todoListForm.title}">Todo-List</li>
        </ol>
    </nav>

    <div th:replace="fragments/alert :: alert">alert</div>

    <div th:if="${errorMessage}" class="d-flex justify-content-center alert-position">
        <div class="text-center alert alert-danger" role="alert" th:text="${errorMessage}">
        </div>
    </div>

    <h2 class="text-center my-5"><span th:text="${todoListForm.title}"></span></h2>

    <div class="container">
        <form th:action="@{/todo-lists/{todoListNum}(todoListNum=${todoListForm.num})}" th:object="${todoListForm}" th:method="PUT">
            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" class="form-control" th:type="text" th:field="*{title}"/>
                <small class="form-text text-muted" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">errors</small>
            </div>
            <button type="submit" class="button">Update</button>
        </form>

        <form th:action="@{/todo-lists/{todoListNum}(todoListNum=${todoListForm.num})}" th:method="DELETE">
            <button type="submit" class="button my-3">Delete</button>
        </form>

        <a th:href="@{/todo-lists/{todoListNum}/todos(todoListNum=${todoListForm.num})}" class="button">Show todos</a>
    </div>

</main>


<footer th:replace="fragments/footer :: footer">footer</footer>

<div th:replace="fragments/script :: script">script</div>

</body>
</html>